Report_Marco/main.aux
Report_Marco/main.bbl
Report_Marco/main.blg
Report_Marco/main.fdb_latexmk
Report_Marco/main.fls
Report_Marco/main.log
Report_Marco/main.out
Report_Marco/main.run.xml
Report_Marco/main.synctex.gz
